.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.064941;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.065430;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.061035;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.064941;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.065430;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.051270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.981934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.942383;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.942383;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.412000px;}
.ls11{letter-spacing:-0.278400px;}
.ls7{letter-spacing:-0.220800px;}
.ls2{letter-spacing:-0.180400px;}
.ls6{letter-spacing:-0.159200px;}
.ls3{letter-spacing:-0.155600px;}
.lsa{letter-spacing:-0.151600px;}
.lsc{letter-spacing:-0.128800px;}
.ls1{letter-spacing:-0.120800px;}
.lsb{letter-spacing:-0.109600px;}
.ls14{letter-spacing:-0.012000px;}
.ls0{letter-spacing:0.000000px;}
.ls8{letter-spacing:0.005760px;}
.ls9{letter-spacing:0.019200px;}
.ls12{letter-spacing:0.096000px;}
.ls13{letter-spacing:0.115200px;}
.ls10{letter-spacing:0.117200px;}
.lsf{letter-spacing:0.120000px;}
.ls5{letter-spacing:0.125600px;}
.lse{letter-spacing:0.144000px;}
.lsd{letter-spacing:0.201600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.351680px;}
._4{width:1.546880px;}
._11{width:2.744160px;}
._e{width:5.164800px;}
._0{width:6.378240px;}
._2{width:7.518720px;}
._21{width:9.498240px;}
._d{width:14.482560px;}
._c{width:15.590400px;}
._8{width:18.149760px;}
._9{width:19.202240px;}
._5{width:20.736000px;}
._15{width:21.740160px;}
._f{width:23.089920px;}
._12{width:24.552960px;}
._16{width:26.956800px;}
._13{width:29.124800px;}
._23{width:31.447680px;}
._22{width:32.544000px;}
._10{width:37.536000px;}
._3{width:38.982560px;}
._b{width:40.199520px;}
._a{width:41.950080px;}
._6{width:46.191360px;}
._7{width:47.318880px;}
._14{width:56.127360px;}
._20{width:69.164160px;}
._1c{width:83.225280px;}
._1b{width:92.082240px;}
._1f{width:99.007680px;}
._1d{width:100.771200px;}
._17{width:115.952000px;}
._1e{width:149.088960px;}
._18{width:321.456000px;}
._1a{width:496.080000px;}
._19{width:508.080000px;}
.fc8{color:rgb(142,180,227);}
.fc7{color:rgb(255,255,255);}
.fc5{color:rgb(34,34,34);}
.fc4{color:rgb(141,179,226);}
.fc9{color:rgb(79,129,189);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(42,52,63);}
.fc3{color:rgb(5,99,193);}
.fc6{color:rgb(79,144,205);}
.fc2{color:rgb(68,114,196);}
.fs9{font-size:27.840000px;}
.fs4{font-size:30.240000px;}
.fs5{font-size:32.160000px;}
.fsb{font-size:36.000000px;}
.fs2{font-size:39.840000px;}
.fs3{font-size:42.240000px;}
.fs8{font-size:44.160000px;}
.fsa{font-size:46.080000px;}
.fs0{font-size:48.000000px;}
.fs7{font-size:51.840000px;}
.fs6{font-size:56.160000px;}
.fs1{font-size:92.160000px;}
.y1{bottom:0.000000px;}
.y8f{bottom:14.280000px;}
.y53{bottom:19.920000px;}
.y8e{bottom:26.520000px;}
.y52{bottom:31.200000px;}
.y51{bottom:34.320000px;}
.y8d{bottom:36.240000px;}
.y8c{bottom:39.360000px;}
.y50{bottom:47.664000px;}
.y8b{bottom:53.424000px;}
.y4f{bottom:61.104000px;}
.y8a{bottom:65.904000px;}
.y4e{bottom:72.264000px;}
.y4d{bottom:75.744000px;}
.y89{bottom:80.304000px;}
.y4c{bottom:86.904000px;}
.y0{bottom:88.500000px;}
.y4b{bottom:90.024000px;}
.y88{bottom:93.624000px;}
.y4a{bottom:103.580000px;}
.y87{bottom:108.740000px;}
.y49{bottom:115.580000px;}
.y86{bottom:123.740000px;}
.y48{bottom:127.700000px;}
.y85{bottom:138.740000px;}
.y47{bottom:139.940000px;}
.y46{bottom:151.700000px;}
.y84{bottom:152.060000px;}
.y45{bottom:157.340000px;}
.y83{bottom:166.100000px;}
.y44{bottom:171.860000px;}
.y82{bottom:179.900000px;}
.y43{bottom:185.060000px;}
.y81{bottom:194.300000px;}
.y42{bottom:198.140000px;}
.y80{bottom:207.740000px;}
.y41{bottom:210.260000px;}
.y7f{bottom:221.180000px;}
.y40{bottom:224.060000px;}
.y7e{bottom:234.650000px;}
.y3f{bottom:236.330000px;}
.y3e{bottom:248.090000px;}
.y7d{bottom:248.210000px;}
.y3d{bottom:253.730000px;}
.y7c{bottom:260.930000px;}
.y3c{bottom:265.850000px;}
.y3b{bottom:269.930000px;}
.y7b{bottom:275.090000px;}
.y3a{bottom:284.690000px;}
.y7a{bottom:291.410000px;}
.y39{bottom:298.010000px;}
.y79{bottom:307.850000px;}
.y38{bottom:311.450000px;}
.y78{bottom:323.090000px;}
.y37{bottom:324.890000px;}
.y77{bottom:334.130000px;}
.y36{bottom:337.730000px;}
.y76{bottom:347.210000px;}
.y35{bottom:348.890000px;}
.y34{bottom:352.370000px;}
.y75{bottom:357.770000px;}
.y74{bottom:361.610000px;}
.y33{bottom:365.810000px;}
.y73{bottom:374.930000px;}
.y32{bottom:376.970000px;}
.y31{bottom:380.090000px;}
.y72{bottom:386.570000px;}
.y71{bottom:390.050000px;}
.y30{bottom:395.570000px;}
.y70{bottom:404.110000px;}
.y2f{bottom:412.030000px;}
.y6f{bottom:418.270000px;}
.y2e{bottom:427.750000px;}
.y6e{bottom:430.630000px;}
.y6d{bottom:438.310000px;}
.y6c{bottom:442.150000px;}
.y2c{bottom:442.270000px;}
.y2d{bottom:444.790000px;}
.y2b{bottom:455.110000px;}
.y6b{bottom:456.430000px;}
.y2a{bottom:469.750000px;}
.y6a{bottom:471.670000px;}
.y69{bottom:475.150000px;}
.y29{bottom:482.590000px;}
.y68{bottom:489.670000px;}
.y28{bottom:495.550000px;}
.y67{bottom:503.110000px;}
.y66{bottom:504.190000px;}
.y65{bottom:505.150000px;}
.y27{bottom:508.390000px;}
.y64{bottom:509.230000px;}
.y26{bottom:521.230000px;}
.y63{bottom:523.870000px;}
.y62{bottom:535.270000px;}
.y25{bottom:535.750000px;}
.y61{bottom:538.990000px;}
.y24{bottom:548.590000px;}
.y60{bottom:552.070000px;}
.y5f{bottom:558.070000px;}
.y23{bottom:563.230000px;}
.y5e{bottom:572.710000px;}
.y22{bottom:576.070000px;}
.y5d{bottom:584.140000px;}
.y5c{bottom:587.740000px;}
.y21{bottom:590.620000px;}
.y5b{bottom:602.140000px;}
.y20{bottom:604.540000px;}
.y1f{bottom:612.820000px;}
.y5a{bottom:613.060000px;}
.y1e{bottom:618.580000px;}
.y59{bottom:627.700000px;}
.y1d{bottom:630.940000px;}
.y1c{bottom:634.660000px;}
.y58{bottom:642.580000px;}
.y1b{bottom:649.900000px;}
.y57{bottom:658.540000px;}
.y1a{bottom:665.380000px;}
.y56{bottom:674.020000px;}
.y19{bottom:681.700000px;}
.y55{bottom:690.340000px;}
.y18{bottom:698.140000px;}
.y54{bottom:706.780000px;}
.y17{bottom:712.060000px;}
.y16{bottom:722.020000px;}
.y8{bottom:731.260000px;}
.y15{bottom:731.740000px;}
.y7{bottom:735.340000px;}
.y14{bottom:742.900000px;}
.y6{bottom:748.420000px;}
.y13{bottom:751.060000px;}
.y12{bottom:760.080000px;}
.y5{bottom:761.640000px;}
.y11{bottom:766.320000px;}
.y10{bottom:768.840000px;}
.y4{bottom:771.600000px;}
.y3{bottom:776.760000px;}
.yf{bottom:778.200000px;}
.ye{bottom:785.280000px;}
.yd{bottom:787.800000px;}
.yc{bottom:797.160000px;}
.y2{bottom:801.840000px;}
.yb{bottom:804.480000px;}
.ya{bottom:806.880000px;}
.y9{bottom:814.080000px;}
.hb{height:23.571562px;}
.h9{height:27.103594px;}
.h12{height:32.058750px;}
.h10{height:33.431953px;}
.he{height:35.535000px;}
.h4{height:35.763750px;}
.ha{height:37.389375px;}
.hd{height:38.625000px;}
.h8{height:40.640625px;}
.h5{height:41.415703px;}
.hf{height:41.664375px;}
.h7{height:43.891875px;}
.hc{height:45.906562px;}
.h6{height:47.549531px;}
.h2{height:49.898438px;}
.h11{height:50.671875px;}
.h3{height:78.030000px;}
.h1{height:726.000000px;}
.h0{height:841.920000px;}
.w1{width:595.000000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x0{left:0.000000px;}
.x6{left:26.999991px;}
.x1{left:32.039991px;}
.xa{left:35.999991px;}
.x7{left:41.039991px;}
.xb{left:45.959991px;}
.x8{left:85.223991px;}
.x9{left:92.663991px;}
.xd{left:288.529991px;}
.xf{left:305.929991px;}
.xc{left:319.869991px;}
.xe{left:332.229991px;}
.x2{left:399.309991px;}
.x5{left:407.349991px;}
.x3{left:472.299991px;}
.x4{left:497.379991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.549333pt;}
.ls11{letter-spacing:-0.371200pt;}
.ls7{letter-spacing:-0.294400pt;}
.ls2{letter-spacing:-0.240533pt;}
.ls6{letter-spacing:-0.212267pt;}
.ls3{letter-spacing:-0.207467pt;}
.lsa{letter-spacing:-0.202133pt;}
.lsc{letter-spacing:-0.171733pt;}
.ls1{letter-spacing:-0.161067pt;}
.lsb{letter-spacing:-0.146133pt;}
.ls14{letter-spacing:-0.016000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls8{letter-spacing:0.007680pt;}
.ls9{letter-spacing:0.025600pt;}
.ls12{letter-spacing:0.128000pt;}
.ls13{letter-spacing:0.153600pt;}
.ls10{letter-spacing:0.156267pt;}
.lsf{letter-spacing:0.160000pt;}
.ls5{letter-spacing:0.167467pt;}
.lse{letter-spacing:0.192000pt;}
.lsd{letter-spacing:0.268800pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.802240pt;}
._4{width:2.062507pt;}
._11{width:3.658880pt;}
._e{width:6.886400pt;}
._0{width:8.504320pt;}
._2{width:10.024960pt;}
._21{width:12.664320pt;}
._d{width:19.310080pt;}
._c{width:20.787200pt;}
._8{width:24.199680pt;}
._9{width:25.602987pt;}
._5{width:27.648000pt;}
._15{width:28.986880pt;}
._f{width:30.786560pt;}
._12{width:32.737280pt;}
._16{width:35.942400pt;}
._13{width:38.833067pt;}
._23{width:41.930240pt;}
._22{width:43.392000pt;}
._10{width:50.048000pt;}
._3{width:51.976747pt;}
._b{width:53.599360pt;}
._a{width:55.933440pt;}
._6{width:61.588480pt;}
._7{width:63.091840pt;}
._14{width:74.836480pt;}
._20{width:92.218880pt;}
._1c{width:110.967040pt;}
._1b{width:122.776320pt;}
._1f{width:132.010240pt;}
._1d{width:134.361600pt;}
._17{width:154.602667pt;}
._1e{width:198.785280pt;}
._18{width:428.608000pt;}
._1a{width:661.440000pt;}
._19{width:677.440000pt;}
.fs9{font-size:37.120000pt;}
.fs4{font-size:40.320000pt;}
.fs5{font-size:42.880000pt;}
.fsb{font-size:48.000000pt;}
.fs2{font-size:53.120000pt;}
.fs3{font-size:56.320000pt;}
.fs8{font-size:58.880000pt;}
.fsa{font-size:61.440000pt;}
.fs0{font-size:64.000000pt;}
.fs7{font-size:69.120000pt;}
.fs6{font-size:74.880000pt;}
.fs1{font-size:122.880000pt;}
.y1{bottom:0.000000pt;}
.y8f{bottom:19.040000pt;}
.y53{bottom:26.560000pt;}
.y8e{bottom:35.360000pt;}
.y52{bottom:41.600000pt;}
.y51{bottom:45.760000pt;}
.y8d{bottom:48.320000pt;}
.y8c{bottom:52.480000pt;}
.y50{bottom:63.552000pt;}
.y8b{bottom:71.232000pt;}
.y4f{bottom:81.472000pt;}
.y8a{bottom:87.872000pt;}
.y4e{bottom:96.352000pt;}
.y4d{bottom:100.992000pt;}
.y89{bottom:107.072000pt;}
.y4c{bottom:115.872000pt;}
.y0{bottom:118.000000pt;}
.y4b{bottom:120.032000pt;}
.y88{bottom:124.832000pt;}
.y4a{bottom:138.106667pt;}
.y87{bottom:144.986667pt;}
.y49{bottom:154.106667pt;}
.y86{bottom:164.986667pt;}
.y48{bottom:170.266667pt;}
.y85{bottom:184.986667pt;}
.y47{bottom:186.586667pt;}
.y46{bottom:202.266667pt;}
.y84{bottom:202.746667pt;}
.y45{bottom:209.786667pt;}
.y83{bottom:221.466667pt;}
.y44{bottom:229.146667pt;}
.y82{bottom:239.866667pt;}
.y43{bottom:246.746667pt;}
.y81{bottom:259.066667pt;}
.y42{bottom:264.186667pt;}
.y80{bottom:276.986667pt;}
.y41{bottom:280.346667pt;}
.y7f{bottom:294.906667pt;}
.y40{bottom:298.746667pt;}
.y7e{bottom:312.866667pt;}
.y3f{bottom:315.106667pt;}
.y3e{bottom:330.786667pt;}
.y7d{bottom:330.946667pt;}
.y3d{bottom:338.306667pt;}
.y7c{bottom:347.906667pt;}
.y3c{bottom:354.466667pt;}
.y3b{bottom:359.906667pt;}
.y7b{bottom:366.786667pt;}
.y3a{bottom:379.586667pt;}
.y7a{bottom:388.546667pt;}
.y39{bottom:397.346667pt;}
.y79{bottom:410.466667pt;}
.y38{bottom:415.266667pt;}
.y78{bottom:430.786667pt;}
.y37{bottom:433.186667pt;}
.y77{bottom:445.506667pt;}
.y36{bottom:450.306667pt;}
.y76{bottom:462.946667pt;}
.y35{bottom:465.186667pt;}
.y34{bottom:469.826667pt;}
.y75{bottom:477.026667pt;}
.y74{bottom:482.146667pt;}
.y33{bottom:487.746667pt;}
.y73{bottom:499.906667pt;}
.y32{bottom:502.626667pt;}
.y31{bottom:506.786667pt;}
.y72{bottom:515.426667pt;}
.y71{bottom:520.066667pt;}
.y30{bottom:527.426667pt;}
.y70{bottom:538.813333pt;}
.y2f{bottom:549.373333pt;}
.y6f{bottom:557.693333pt;}
.y2e{bottom:570.333333pt;}
.y6e{bottom:574.173333pt;}
.y6d{bottom:584.413333pt;}
.y6c{bottom:589.533333pt;}
.y2c{bottom:589.693333pt;}
.y2d{bottom:593.053333pt;}
.y2b{bottom:606.813333pt;}
.y6b{bottom:608.573333pt;}
.y2a{bottom:626.333333pt;}
.y6a{bottom:628.893333pt;}
.y69{bottom:633.533333pt;}
.y29{bottom:643.453333pt;}
.y68{bottom:652.893333pt;}
.y28{bottom:660.733333pt;}
.y67{bottom:670.813333pt;}
.y66{bottom:672.253333pt;}
.y65{bottom:673.533333pt;}
.y27{bottom:677.853333pt;}
.y64{bottom:678.973333pt;}
.y26{bottom:694.973333pt;}
.y63{bottom:698.493333pt;}
.y62{bottom:713.693333pt;}
.y25{bottom:714.333333pt;}
.y61{bottom:718.653333pt;}
.y24{bottom:731.453333pt;}
.y60{bottom:736.093333pt;}
.y5f{bottom:744.093333pt;}
.y23{bottom:750.973333pt;}
.y5e{bottom:763.613333pt;}
.y22{bottom:768.093333pt;}
.y5d{bottom:778.853333pt;}
.y5c{bottom:783.653333pt;}
.y21{bottom:787.493333pt;}
.y5b{bottom:802.853333pt;}
.y20{bottom:806.053333pt;}
.y1f{bottom:817.093333pt;}
.y5a{bottom:817.413333pt;}
.y1e{bottom:824.773333pt;}
.y59{bottom:836.933333pt;}
.y1d{bottom:841.253333pt;}
.y1c{bottom:846.213333pt;}
.y58{bottom:856.773333pt;}
.y1b{bottom:866.533333pt;}
.y57{bottom:878.053333pt;}
.y1a{bottom:887.173333pt;}
.y56{bottom:898.693333pt;}
.y19{bottom:908.933333pt;}
.y55{bottom:920.453333pt;}
.y18{bottom:930.853333pt;}
.y54{bottom:942.373333pt;}
.y17{bottom:949.413333pt;}
.y16{bottom:962.693333pt;}
.y8{bottom:975.013333pt;}
.y15{bottom:975.653333pt;}
.y7{bottom:980.453333pt;}
.y14{bottom:990.533333pt;}
.y6{bottom:997.893333pt;}
.y13{bottom:1001.413333pt;}
.y12{bottom:1013.440000pt;}
.y5{bottom:1015.520000pt;}
.y11{bottom:1021.760000pt;}
.y10{bottom:1025.120000pt;}
.y4{bottom:1028.800000pt;}
.y3{bottom:1035.680000pt;}
.yf{bottom:1037.600000pt;}
.ye{bottom:1047.040000pt;}
.yd{bottom:1050.400000pt;}
.yc{bottom:1062.880000pt;}
.y2{bottom:1069.120000pt;}
.yb{bottom:1072.640000pt;}
.ya{bottom:1075.840000pt;}
.y9{bottom:1085.440000pt;}
.hb{height:31.428750pt;}
.h9{height:36.138125pt;}
.h12{height:42.745000pt;}
.h10{height:44.575937pt;}
.he{height:47.380000pt;}
.h4{height:47.685000pt;}
.ha{height:49.852500pt;}
.hd{height:51.500000pt;}
.h8{height:54.187500pt;}
.h5{height:55.220937pt;}
.hf{height:55.552500pt;}
.h7{height:58.522500pt;}
.hc{height:61.208750pt;}
.h6{height:63.399375pt;}
.h2{height:66.531250pt;}
.h11{height:67.562500pt;}
.h3{height:104.040000pt;}
.h1{height:968.000000pt;}
.h0{height:1122.560000pt;}
.w1{width:793.333333pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x0{left:0.000000pt;}
.x6{left:35.999988pt;}
.x1{left:42.719988pt;}
.xa{left:47.999988pt;}
.x7{left:54.719988pt;}
.xb{left:61.279988pt;}
.x8{left:113.631988pt;}
.x9{left:123.551988pt;}
.xd{left:384.706655pt;}
.xf{left:407.906655pt;}
.xc{left:426.493322pt;}
.xe{left:442.973322pt;}
.x2{left:532.413322pt;}
.x5{left:543.133322pt;}
.x3{left:629.733322pt;}
.x4{left:663.173322pt;}
}
